<header>
  <div class="container">
  <h1><a herf="index.html"></a></h1>
  <ul>
      <li class="active"><a herf="">HOME</fontcolor></a></li>
      <li><a href="profil.html">PROFIL</a></li>
      <li><a href="cv.html">CV</a></li>
      <li><a href="galeri.html">GALERI</a></li>
      <li><a href="kontak.html">CONTACT</a></li>
  </ul>
</div>
</header>
<div style="text-align:center">
    <h2>Contact Us</h2>
    <p>Jika ada yang bisa kami bantu bisa hubungi :</p>
  </div>
  <link href="style2.css" rel="stylesheet">
 <section>
  <center>
      <img src="aku.jpg" width="150">
  </center>
 </section>
 
  <div class="container"style="text-align:center">
  <p>
    MOHAMMAD MALIK NUR.H
  </p>
        <tr>
        <td> WA: 085961444052</td>
        </tr>
    <P>
      IG: @alexnorh
    </P>
    <p>
      EMAIL: mohalex74@gmail.com
    </p>
</div>
<a href="index.html">KEMBALI</a><br>