*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
@import url('http://font.googleapis.com/css/family=quiksand:400,500&subset=latin-ext');
body{
    padding: 100px;
    background-image: linear-gradient(-20deg,#2846 0%, #6944ff 100%);
    text-align: center;
    font-family: 'quiksand', sans-serif;
}
ul{
    margin-left: -45px;
}
li {
    list-style: none;
    display: inline-block;
}
.main{
    width: 800px;
    height: 520px;
    background-color: #fafafa;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 10px;
    border: 1px #6944ff;
}
.img{
    background-image: url(aku.jpg);
    background-size: cover;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid #eaeaea;
}
h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: grey;

}
.text{
    text-align: center;
    font-size: 15px;
    color: #324e32;

}
p{
    margin: 0 auto;
    padding-top: 20px;
    width: 450px;
    height: auto;
    color: #324e32;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.container::after{
    content: '';
    display:block;
    clear: both;
}header h1{
    float: left;
    padding: 15px 0;
    color: grey;
}
header ul{
    float:;right ;
}
 header ul li{
    display: inline-block;
 }
 header ul li a{
    padding: 20px 15px;
    display:inline-block;
 }
 header ul li a:hover{
    background-color: gray;
    color: whitesmoke;
 }
 .active{
    background-color: grey;
    color: aliceblue;
 }
