*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
.medsos{
    padding: 0;
    background-color: black;
}
.medsos ul li{
    display: inline-block;
    color: aliceblue;
    margin-right: 10px;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.container::after{
    content: '';
    display:block;
    clear: both;
}

header h1{
    float: left;
    padding: 15px 150px;
    color: grey;
}
header ul{
    float:;right ;
}
 header ul li{
    display: inline-block;
 }
 header ul li a{
    padding: 20px 15px;
    display:inline-block;
 }
 header ul li a:hover{
    background-color: gray;
    color: whitesmoke;
 }
 .active{
    background-color: grey;
    color: aliceblue;
 }
.banner h2{
    color: seashell;
    z-index: 1;
    padding: 150px 35px;
    border: 3px;
    text-align: center;
    
}

.banner
{
    background: url('kota1.jpg');
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: 100%;
}
.footer{
    width: 100%;
    height: 50px;
    padding-left: 40px;
    line-height: 50px;
    background: whitesmoke;
    color: goldenrod;
    position:absolute;
    bottom: 0px;
  
}