*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
     
    body{
    background: rgb(255, 255, 255);
    text-align: center;
    }
     
    section{
    margin: 100px auto;
    }
     
    section img{
    border-radius: 100%;
    border: 10px solid rgb(45, 44, 44);
    } 
    .container{
        
    }
    .container p{
        font-size:25px;
        font-family: monospace;
    }.container{
        width: 80%;
        margin: 0 auto;
    }
    .container::after{
        content: '';
        display:block;
        clear: both;
    }
    header h1{
        float: left;
        padding: 15px 0;
        color: grey;
    }
    header ul{
        float:;right ;
    }
     header ul li{
        display: inline-block;
     }
     header ul li a{
        padding: 20px 15px;
        display:inline-block;
     }
     header ul li a:hover{
        background-color: gray;
        color: whitesmoke;
     }
     .active{
        background-color: grey;
        color: aliceblue;
     }

   
    

    